@model SectionVM
@using CourseApp.Services;
@using Microsoft.WindowsAzure.Storage.Blob;
@foreach (var item in Model.Items)
{

    await RenderItem(item);

}
@functions{
    public async Task RenderItem(MediaItemModel item)
    {
        switch (item.MediaType)
        {
            case "FileModel":
                FileModel file = (FileModel)item;
                RenderFile(file);
                break;

            case "EmbedModel":
                EmbedModel embed = (EmbedModel)item;
                RenderVideo(embed);
                break;
        }
    }

    public async Task RenderFile(FileModel item)
    {
        <li class="list-unstyled">
            @if (FileExtensions.IsImage(item.Uri))
            {
                RenderImage(item);
            }
            <div class="container-fluid d-inline-block container-file">
                <strong>@item.Name</strong>
                <a asp-action="DownloadFile" asp-controller="File" asp-route-id="@item.Id">
                    <div class="float-right">
                        <i class="fa fa-download">
                        </i>
                    </div>
                </a>
            </div>
        </li>
    }
    public async Task RenderVideo(EmbedModel item)
    {
        <div class="container-content p-lg-3">
            <div class="container-video">
                <iframe src="@item.ResourceLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    }
    public async Task RenderImage(FileModel item)
    {

        <img class="w-50" src="@Url.Action("Image", "Image", new { id = item.Id })" title="@item.Name" />

    }
}