@model SectionVM
@using CourseApp.Services;
@using Microsoft.WindowsAzure.Storage.Blob;
@foreach (var item in Model.Items)
{

    await RenderItem(item);

}
@functions{
    public async Task RenderOptionsDropdown(MediaItemModel item)
    {
        <div class="d-inline-block justify-content-end">
            <button type="button" class="btn btn-link" id="context-toggle-@item.Id" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v">
                </i>
            </button>

            <ul class="dropdown-menu dropdown-menu-sm" aria-labelledby="context-toggle-@item.Id">
                <li class="dropdown-item d-inline-block">
                    <form method="post" asp-action="DeleteItem" asp-controller="Author" asp-route-id="@item.Id" asp-route-courseid="@item.Section.CourseId" asp-route-sectionid="@item.SectionId">
                        <button onclick="return confirm('Are you sure you want delete this section?')" type="submit" class="btn btn-danger">
                            Delete Item
                            <i class="fas fa-times  p-1"></i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    }
    public async Task RenderItem(MediaItemModel item)
    {
        switch (item.MediaType)
        {
            case "FileModel":
                FileModel file = (FileModel)item;
                RenderFile(file);
                break;

            case "EmbedModel":
                EmbedModel embed = (EmbedModel)item;
                RenderVideo(embed);
                break;
        }
    }

    public async Task RenderFile(FileModel item)
    {
        <li class="list-unstyled">
            @if (FileExtensions.IsImage(item.Uri))
            {
                RenderImage(item);
            }
            <div class="container-fluid d-inline-block container-file">
                <strong>@item.Name</strong>
                <a asp-action="DownloadFile" asp-controller="File" asp-route-id="@item.Id">
                    <div class="float-right">
                        <i class="fa fa-download">
                        </i>
                    </div>
                </a>
                @{
                    RenderOptionsDropdown(item);
                }
            </div>
        </li>
    }
    public async Task RenderVideo(EmbedModel item)
    {
        <div class="container-content p-lg-3">
            @{
                RenderOptionsDropdown(item);
            }
            <div class="container-video">
                <iframe src="@item.ResourceLink" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>



    }
    public async Task RenderImage(FileModel item)
    {
        <img class="w-50" src="@Url.Action("Image", "Image", new { id = item.Id })" title="@item.Name" />
    }
}



