@model CoursePreviewVM

<head>
    <link rel="stylesheet" href="~/css/course-content.css" />
</head>
<h1>
</h1>

<div>
    <div class="course-header">
        <div class="course-container">
            <h1>@Model.Name</h1>
            <span>@Model.Subject</span>
        </div>
    </div>

    <div class="course-body">

        <div class="course-container">
            <p>@Model.Description</p>

        </div>
    </div>

    <div class="container p-5">
        <vc:course-view-banner course-id="@Model.Id">

        </vc:course-view-banner>
    </div>
</div>

@if (Model.PaymentRequired)
{

    <div>
        <p>This is a payed course. You must purchase access to this course for:</p> <strong>$@Model.Price USD</strong>
    </div>

    <div class="container p-xl-4">
        <form asp-action="Register" asp-controller="Course">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="submit" class="btn btn-info">
                Purchase Now
            </button>
        </form>
    </div>
}
else
{
    <div class="container p-xl-4">
        <form asp-action="Register" asp-controller="Course">
            <input type="hidden" name="Id" value="@Model.Id" />
            <button type="submit" class="btn btn-info">
                Register
            </button>
        </form>
    </div>
}



