<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Identity
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CourseApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/authorize-net.css" />
    @RenderSection("HeadSection", false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <a href="@Url.Action("Index", "Home")">
                    <img id="site-logo" class="navbar-brand img-responsive" src="~/content/images/site/logo_transparent_background_nav.png" title="core" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-header" asp-controller="Featured" asp-action="Index">Featured Courses</a>
                                <a class="dropdown-header" asp-controller="Course" asp-action="Index">All Courses</a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-header" asp-controller="Course" asp-action="MyCourses">My Courses</a>
                                    <a class="dropdown-header" asp-controller="Author" asp-action="Index">Authored Courses</a>
                                }
                            </div>
                        </li>

                    </ul>
                    <ul class="navbar-nav">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item alert-primary">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login &#47; Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item alert-secondary">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Message">Messaging</a>
                            </li>
                            <li class="nav-item alert-primary">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle alert-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Account
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <h6 class="dropdown-header">@User.Identity.Name</h6>
                                        <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">Account Profile</a>
                                        <a class="dropdown-item nav-link text-dark" asp-controller="Course" asp-action="MyCourses">My Courses</a>
                                        <a class="dropdown-item  nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout </a>
                                    </div>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 container-fluid">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CourseApp - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
