@model AccountVM
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Account Profile";
}
@{
    var userId = long.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier));
}
<head>
    <link rel="stylesheet" href="~/css/course-content.css" />
</head>

<div class="container user-profile">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 justify-content-center">
            <h2>Account Details</h2>
            <br /><br />
            <div class="row pb-4">
                <img class="d-block w-50 p-1" src="@Url.Action("GetAvatarImage", "Image", new { id = userId })" />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Full Name</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.FirstName @Model.LastName</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Username</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.DisplayName</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.Email</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Phone Number</label>
                </div>
                <div class="col-md-6">
                    <p>@Model.PhoneNumber</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 text-left">
                    <a asp-action="Edit" asp-controller="Account" class="btn btn-primary">Edit Profile</a>
                </div>
                <div class="col-md-6 text-left">
                    <a asp-action="ResetPassword" asp-controller="Account" class="btn btn-primary">Reset Password</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


